.top-btn-group {
    margin-top: 20px;
}

.top-btn-group .top-btn {
    margin: 0;
    padding: 0;
    height: 16px;
    display: inline-block;
}

.top-btn-group .top-btn a {
    display: inline;
    margin-left: -5px;
    vertical-align: 4px;
    text-decoration: none;
    font-size: 12px;
    color: #000;
}

.top-btn-group .top-btn a:hover {
    color: #000;
    text-decoration: underline;
}

.easyui-accordion ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.easyui-accordion ul li {
    padding: 0;
}

.easyui-accordion ul li a {
    padding: 0 0 0 20px;
    line-height: 24px;
    text-decoration: none;
    display: block;
    color: #000;
}

.easyui-accordion ul li:hover {
    background-color: #D4D4D4;
}

.easyui-accordion ul li .selected {
    background-color: #ABAFB8;
}

.form{
    margin:20px;
}

.form .form-title {
    margin: 0;
    font-size: 14px;
    text-align: left;
    padding-bottom: 8px;
    border-bottom: solid 1px #D4D4D4;
}

.form .form-content {
    margin: 20px 0;
}

.form .form-content .form-item {
    margin: 0 auto 16px 24px;
    text-align: left;
}
.form .form-content .form-item div {
    display: inline-block;
}
